@import '../../../styles.scss';

.buttons-container {
  // @extend .center-position;
  position: static;
  box-shadow: 1px 1px 5px #88888863;
  display: flex;
  width: fit-content;
  block-size: fit-content;

  .sb-button {
    position: relative;
    min-width: $standard-button-height;
    min-height: $standard-button-height;
    border-radius: 1px;
    border: none;
    background-color: $standard-white;
    color: $standard-gray;
    padding: 0;

    &:hover {
      color: $standard-blue;
      .button-tool-tip {
        display: inline-block;
      }
    }

    &:active {
      color: $standard-white;
      background-color: $standard-blue;
    }
  }

  .material-symbols-outlined {
    font-size:30px;
    line-height: 50px;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
}

.margin-top {
  margin-top: 58px;
}

// 

.button-tool-tip {
  @extend .center-position;
  position: absolute;
  color: $standard-white;
  background-color: $standard-darkblue;
  width: fit-content;
  block-size: fit-content;
  padding: 5px;
  display: none;

  &::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent $standard-darkblue transparent;
  }
}