/* You can add global styles to this file, and also import other style files */
@import './assets/styles/variables.scss';

body {
	font: 'San Francisco', Helvetica, Arial, san-serif;
}

.center-position{
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}